# day 02 | 250829 F | week 0

## heretofore
We have learned about variable and putting them in place of values, but we have not used any variables up to now. We have also seen how we can set values in jupyter, but is there a way to get feedback from a user of a program?

## herein
Today we are going to learn about what kinds of quantities variables can hold, and we are going to use input and output functions to control the information that we get from a user.

## hence
I want you to do Excersise 2.1 on page 30, which is a slight modification on the code we wrote here. Also have a look at Excersise 2.2. You don't have to do part (a) but take it at face value. Try to do part (b) and we'll look at this on Wednesday.

What is next is to talk about if/while statements, as well as introduce lists and arrays. We should be able to get to fo

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [4]:
6*np.pi

18.84955592153876

In [5]:
np.pi

3.141592653589793

In [6]:
x = 5

In [7]:
x

5

In [8]:
y + 1

NameError: name 'y' is not defined

In [9]:
type(x)

int

In [10]:
y = 5.0

In [11]:
type(y)

float

In [15]:
z = 3+2j

In [16]:
type(z)

complex

In [17]:
a = 0j

In [18]:
type(a)

complex

In [19]:
b = a+1

In [20]:
b

(1+0j)

In [21]:
c = "Joe"

In [22]:
type(c)

str

In [23]:
d = '546'

In [24]:
d

'546'

In [25]:
d+1

TypeError: can only concatenate str (not "int") to str

In [30]:
xy = 60

In [31]:
xy

60

In [32]:
test = 34

In [33]:
test1 = 37

In [34]:
test

34

In [35]:
test1

37

In [37]:
_4test = 4

In [38]:
_4test

4

In [42]:
h = float(input("Enter the height of the tower: "))
t = float(input("Enter the time interval: "))
g = 9.81

y = h - 1/2*g*t**2
print('The height of the rock is ', y, 'meters')

Enter the height of the tower:  10
Enter the time interval:  10

The height of the rock is  -480.5 meters